<web-app>
    <display-name>servlet-booking-management-project</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.shreya.servlet.controller.CustomerController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeliveryAgentController</servlet-name>
        <servlet-class>com.shreya.servlet.controller.DeliveryAgentController</servlet-class>
    </servlet>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>


    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.shreya.servlet.controller.OrderController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RestaurantController</servlet-name>
        <servlet-class>com.shreya.servlet.controller.RestaurantController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CustomerDeleteController</servlet-name>
        <servlet-class>com.shreya.servlet.controller.CustomerDeleteController</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeliveryAgentController</servlet-name>
        <url-pattern>/DeliveryAgentController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RestaurantController</servlet-name>
        <url-pattern>/RestaurantController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CustomerDeleteController</servlet-name>
        <url-pattern>/CustomerDeleteController</url-pattern>
    </servlet-mapping>


</web-app>